/* @font-face {
    font-family: 'Stratos-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Stratos-Regular'),
        url("../fonts/StratosSkyeng.woff2") format('woff2'),
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
